body{
    background-color: antiquewhite;
   /* background-color: aqua;*/
}

section{
    background-color: aliceblue;
    margin: 100px;
    padding: 150px;
}

#titulo{
    text-align: center;
}

#f{
    text-align: center;
    letter-spacing: 2px;
    color:cadetblue;
}

#y{
    text-align: center;
    letter-spacing: 2px;
    color:blueviolet;
}

#t{
    text-align: center;
    letter-spacing: 2px;
    color:chocolate;
}
#b{
    position: fixed;
    margin: 10px;
    padding: 50px;
}